@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Greycliff CF";
  src: url("/fonts/Fontspring-DEMO-greycliffcf-regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("/fonts/Fontspring-DEMO-greycliffcf-medium.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("/fonts/Fontspring-DEMO-greycliffcf-bold.otf") format("opentype");
  font-weight: 700;
}

body {
  @apply font-greycliff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #989797;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #605e5e;
}
::-webkit-scrollbar-thumb:active {
  background: #605e5e;
}
::-webkit-scrollbar-track {

  border-radius: 28px;
}

